/* Space out content a bit */
body {
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Custom page footer */
.footer {
  color: #777;
  padding-top: 1.5rem;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    /*max-width: 46rem;*/
    max-width: 54rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: transparent;
  border: 0;
  text-align: center;
}

.jumbotron .btn {
  font-size: 1.5rem;
  padding: .75rem 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  /* Move date on div */
  .date-column {
    color: #919191;
    margin-bottom: 0;
  }

  /* Spacer to separe contents */
  .spacer-bottom {
    margin-bottom: 1rem;
  }

}

.sub-title {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  margin-top: -0.7rem;
}

.col-md-10 a, footer .lead a {
  color: #2c2c2c;
}

.col-md-10 a:hover, footer .lead a:hover {
  color: #ff4c05;
  text-decoration: none;
}

.jumptron .lead a {
  color: #2c2c2c;
}

.jumptron .lead a:hover {
  color: #ff4c05;
  text-decoration: none;
}

.jumbotron a, .jumbotron a:hover {
  color: #2c2c2c;
  text-decoration: none;
}

.light {
  font-weight: 100;
}

.spacer-top {
  margin-top: 2.5rem;
}

/* Move date on div */
.date-column {
  text-align: right;
}

/* tag cloud */
ul .tagcloud {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul .tagcloud a {
  color: #2c2c2c;
  text-decoration: none;
}

ul .tagcloud a:hover {
  color: #2c2c2c;
  text-decoration: underline;
}

ul .tagcloud li {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

li .tag-1 {
    font-size: 150%;
}

li .tag-2 {
    font-size: 120%;
}

li .tag-3 {
    font-size: 130%;
}

li .tag-4 {
    font-size: 140%;
}

ul .tagcloud .list-group-item span .badge {
    background-color: #808080;
    color: #fff;
}

/* Plyr custom */
.plyr--full-ui input[type='range'] {
    color: #ff4c05;
}
