{% extends "base.html" %}

{% block content %}
    <main role="main">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    Tags:
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    {% for tag in tag_cloud %}
                        <li>
                            <a href="{{ SITEURL }}/{{ tag.0.url }}">
                                {{ tag.0.name }}
                            </a>
                            <a href="{{ SITEURL }}/{{ tag.0.url }}" class="badge badge-light light">{{ tag.2 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock content %}
